<ion-list>
  <ion-list-header color="primary">
    <ion-icon name="walk-outline" size="large"></ion-icon>
    Lugares para pasear
  </ion-list-header>
  <a href="https://es.wikipedia.org/wiki/Calle_Marqu%C3%A9s_de_Larios">
    <ion-item color="secondary">
      <ion-thumbnail slot="end">
        <img src="../../assets/img/larios.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Calle Marqués de Larios</h3>
        <p>Ideal para ir de compras.</p>
      </ion-label>
    </ion-item>
  </a>
  <a href="https://www.visitacostadelsol.com/descubrela/las-mejores-playas-de-la-costa-del-sol/playa-de-la-malagueta-p20471">
    <ion-item color="secondary">
      <ion-thumbnail slot="end">
        <img src="../../assets/img/malagueta.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>La Malagueta</h3>
        <p>Bonita playa para ir a correr.</p>
      </ion-label>
    </ion-item>
  </a>
</ion-list>